{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>Booking list</h1>
{% for booking in object_list %}
<h2>Made by: {{booking.name}}</h2>
<p>Booking for: {{booking.no_of_guests}}</p>
<p>On: {{booking.date}}</p>
<p>Aditional notes: {{booking.booking_notes}}</p>
<p>Table: {{ booking.booked_table.table_number }}</p>
<p>Capacity: {{ booking.booked_table.capacity }}</p>
<P>Notes: {{ booking.booked_table.table_notes }}</P>
{% endfor %}

{% endif %}

{% endblock %}