{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div id="bookings" class="container mt-4">
    <h1>Booking list</h1>
    {% for booking in object_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Made by: {{booking.name}}</h2>
            <p class="card-text">Booking for: {{booking.no_of_guests}}</p>
            <p class="card-text">On: {{booking.date}}</p>
            <p class="card-text">Your notes: {{booking.booking_notes}}</p>
            {% if user.is_staff %}
            <p class="card-text">Table: {{ booking.booked_table.table_number }}</p>
            <p class="card-text">Capacity: {{ booking.booked_table.capacity }}</p>
            {% endif %}
            <div class="d-flex justify-content-start mt-2">
                <a href="{% url 'booking-update' booking.pk %}" class="btn btn-secondary btn-sm me-2">Edit</a>
                <a href="{% url 'booking-delete' booking.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% endblock %}