<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking View</title>
</head>

<body>
    <h1>Booking list</h1>
    {% for booking in object_list %}
    <h2>Made by: {{booking.name}}</h2>
    <p>Booking for: {{booking.no_of_guests}}</p>
    <p>On: {{booking.date}}</p>
    <p>Aditional notes: {{booking.booking_notes}}</p>
    {% endfor %}
</body>

</html>