/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Roboto", sans-serif;
    background: #1a1814;
    color: #fff;
}

a {
    color: #cda45e;
    text-decoration: none;
}

a:hover {
    color: #d9ba85;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

/* Styling for the booking list header */
h1 {
    text-align: center;
    color: #cda45e;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}


/* Individual booking entries */
h2 {
    margin-top: 20px;
    color: #d9ba85;
    border-bottom: 2px solid #37332a;
    padding-bottom: 5px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

p {
    margin-left: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

/* Styling specific to booking details to differentiate them */
p.booking-details {
    font-style: italic;
    font-family: "Playfair Display", serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    background: rgba(12, 11, 9, 0.8);
    border-bottom: 1px solid rgba(97, 77, 39, 0.6);
    padding: 15px 0;
}

header h1 a {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: #d9ba85;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background: rgba(12, 11, 9, 0.8);
    border-top: 1px solid rgba(97, 77, 39, 0.6);
}


footer i {
    background: #28251f;
    color: #fff;
    padding: 8px 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

footer i:hover {
    background: #cda45e;
    color: #fff;
    text-decoration: none;
}

